html {
    font-family: sans-serif;
  }
  
  table {
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
    font-size: 2rem;
  }
  
  td, th, thead, .fill{
    border: 1px solid black;
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(154, 152, 152);
    padding: 22.3px;
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(206, 204, 204);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
  body{
    text-align: center;
  }
  /* thead tr th{
    font-size: 45px;
    background-color: darkslategrey;
    max-width: 657.24px;
    margin: 0 auto 0 auto;
    padding: 5px;
  } */

  tr:first-child th {
    background-color: darkslategrey;
  }
  tr #empty{
    background-color: darkslategrey;
    margin-top: 0;
    padding: 0;
    max-height: 100px;
    border-top: none
  }
  .check{
    color: blue;
  }
  .notcheck{
    color: red;
  }
  