body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
section {
    border: 2px solid black;
    border-radius: 12px;
    margin: 1rem auto 1rem auto;
    background:rgba(6, 116, 24, 0.5);
    width: 100%;
    max-width: 400px;
}
img{
    border-radius: 12px;
    box-shadow: 3px 3px 5px grey;
    margin: 5px;
}
h2{
    font-size: 35px;
    margin-bottom: 0;
}
h3,h4{
    margin-bottom: 0;

}
h3,h4,h5{
    margin-top: 0;
    font-size: 19px;
    padding: 5px;
}
.cards{
    margin-left: auto;
    margin-right: auto;
}