body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  section {
    border: 2px solid black;
    border-radius: 12px;
    margin: 1rem auto 1rem auto;
    background:rgba(6, 116, 24, 0.5);
    width: 100%;
    max-width: 400px;
}
img{
    border-radius: 12px;
    box-shadow: 3px 3px 5px grey;
    margin: 5px;
}
h2{
    font-size: 35px;
    margin-bottom: 0;
  }
h3,h4{
    margin-bottom: 0;
    
  }
h3,h4,h5{
    margin-top: 0;
    font-size: 19px;
    padding: 5px;
}
.cards{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/* CSS */
button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}