@media only screen and (min-width: 32.5em){
    nav{
        flex-direction: row;
    }
    #webInfo{
        display: flex;
        flex: 1 1 auto;
    }
    #homePage{
        display: flex;
    }
    /*design page*/

    #color{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .secondary, .primary, .accent1, .accent2, section div{
        max-width: 380px;
    }

    /*Target audience page*/
    #scenarios{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    section ul{
        text-align: left;
    }
    #target{
        font-size: 30px;
    }
  
}
    