@media only screen and (min-width: 65em){
    header{
        display: flex;
    }
    .logo{
        grid-column: 1/2;
    }
    nav button{
        display: none;
    }
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        grid-column: 2/4;
        /* max-width: 200px; */
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        
    }
    nav ul li a {
        font-size: 25px;
        max-width: 105px;
        border: none;
        padding: .8rem 2vw;
    }
    nav ul li{
        max-width: fit-content;
    }
    nav ul li.active a{
        text-decoration: underline red 3px;
        background-color: transparent;
    }
    .compInfo{
        margin-left: 345px;
    }
    main{
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero h2{
        margin-top: 7rem;
        font-size: 58px;
    }
    .hero button{
        font-size: 30px;
        max-width: 300px;
        padding: 30px;
        margin: auto;
    }
    .coastalArea img{
        max-width: 1300px;
        padding: 0;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
    }
    .coastalArea{
        background-color: transparent;
        display: grid;
    }
    .coastColor{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #6c3d1ceb;
        max-width: 800px;
        max-height: 500px;
        margin: auto 620px auto auto;
        color: white;
    }
    .weatherCards{
        grid-template-columns: auto auto auto;
        max-width: 1300px;
    }
    #forecastCards{
        grid-column: 2/4;
        grid-row: 2/3;
        margin: auto auto auto .5rem;
        max-width: 700px;
    }
    #forecastCards h2{
        margin-top: 1rem;
        font-size: 32px;
        
    }
    .weatherCards h2{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 50px;
        margin: auto;
        max-width: fit-content;
    }
    #weatherInfo{
        margin-right: .5rem;
    }
}