@media only screen and (min-width: 65em){
    header{
        display: flex;
    }
    .logo{
        grid-column: 1/2;
    }
    nav button{
        display: none;
    }
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        grid-column: 2/4;
        /* max-width: 200px; */
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        
    }
    nav ul li a {
        font-size: 25px;
        max-width: 105px;
        border: none;
        padding: .8rem 2vw;
    }
    nav ul li{
        max-width: fit-content;
    }
    nav ul li.active a{
        text-decoration: underline red 3px;
        background-color: transparent;
    }
    .compInfo{
        margin-left: 345px;
    }
    main{
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero h2{
        margin-top: 7rem;
        font-size: 58px;
    }
    .hero button{
        font-size: 30px;
        max-width: 300px;
        padding: 30px;
        margin: auto;
    }
    .coastalArea img{
        max-width: 1300px;
        padding: 0;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
    }
    .coastalArea{
        background-color: transparent;
        display: grid;
    }
    .coastColor{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #6c3d1ceb;
        max-width: 800px;
        max-height: 500px;
        margin: auto 620px auto auto;
        color: white;
    }
    .weatherCards{
        grid-template-columns: auto auto auto;
        max-width: 1300px;
    }
    #forecastCards{
        grid-column: 2/4;
        grid-row: 2/3;
        margin: auto auto auto .5rem;
        max-width: 700px;
    }
    #forecastCards h2{
        margin-top: 1rem;
        font-size: 32px;
        
    }
    .weatherCards h2{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 50px;
        margin: auto;
        max-width: fit-content;
    }
    #weatherInfo{
        margin-right: .5rem;
    }
    #recipes {
        margin: 1rem auto 0 auto;
        width: 100%;
        max-width: 1200px;
        grid-template-columns: repeat(3, auto);
    }
    #recipes section{
        margin: .5rem;
    }
    #recipes section:hover{
        border-radius: 15px;
        max-width: 360px;
        box-shadow: rgba(0, 0, 0, .8) 0 6px 10px 4px;
    }
    #aboutMain{
        grid-template-columns: 1fr 1fr;
    }
    .since{
        grid-column: 1/3;
        display: grid;
    }
    .since img, .since div{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .since img{
        max-width: 900px;
    }
    .since div{
        max-width: 500px;
        max-height: 340px;
        background-color: #fdc33ccb;
        margin: 300px auto 100px 600px;
        color: black;
    }
    
    .since div p{
        font-size: 22px;
    }
    .director{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .contactInfo{
        border-bottom: none;
        border-top: 5px solid black;
    }
    .fruitDrink{
        display: grid;
        max-width: fit-content;
        border-radius: 15px;
        margin: 1rem auto 0 auto;
    }
    .fruitDrink img, .fruitDrink h3{
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 15px;
    }
    .fruitDrink img{
        display: block;
        margin: 0 auto 0 auto;
    }
    .fruitDrink h3{
        color: black;
        margin-top: 120px;
    }
}