@media only screen and (min-width: 32.5em){
    /*Header*/
    .media{
        margin-right: 1rem;
    }
    footer .media{
        margin: auto;
    }
    .footerLogo{
        max-width: 130px;
    }
    .footerImg{
        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: 20px;
        width: 100%;
    }
    .compInfo{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: auto 0 auto 175px;
        max-width: fit-content;
    }
    /* .compInfo{
        grid-column: 2/3;   
        grid-row: 1/2;
    } */
    footer .media{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .name{
        grid-column: 1/4;
    }
    /*main page*/
    .hero h2{
        font-size: 40px;
        padding: 1rem;
        text-align: center;
        border-radius: 12px;
    }
    .coastalArea img{
        max-width: 500px;
    }
    .coastalArea p{
        font-size: 30px;
    }
    .coastalArea button{
        padding: 1rem;
        margin-bottom: 1rem;
        color: white;
    }
    .weatherCards{
        width: 100%;
        display: grid;
    }
    #weatherInfo{
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 30px;
    }
    #temp{
        font-size: 35px;
        padding-bottom: 15px;
    }
    .WeatherDay{
        margin-bottom: 1rem;
        font-size: 55px;
    }
    #forecastCards{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    #forecastCards h2{
        grid-row: 1/2;
        grid-column: 1/4;
        margin-bottom: 1rem;
    }
    #forecastCards section{
        /* min-width: 200px; */
        width: 100%;
        margin: 0 auto 0 auto;
        border-left: 2px solid rgba(0, 0, 0, .3);
        border-right: 2px solid rgba(0, 0, 0, .3);
    }
    .title{
        font-size: 2.5rem;
    }
    .instructions{
        font-size: 20px;
    }
    form{
        max-width: 650px;
    }
    form legend{
        font-size: 30px;
    }
    fieldset{
        max-width: 500px;
    }
    form label.top{
        font-size: 25px;
    }
    form label.top input{
        font-size: 1.5rem;
        max-width: 250px;
    }
    #fruit0, #fruit1, #fruit2{
        font-size: 20px;
    }
    #recipes{
        display: grid;
        grid-template-columns: auto auto;
    }
    #recipes section{
        width: 100%;
        max-width: 350px;
    }
    #saveBtn{
        font-size: 25px;
    }
    .since{
        display: flex;
    }
    .since div p{
        padding: 15px;
        margin-top: 0;
        font-size: 20px;
    }
    .since div h2{
        margin-bottom: 0;
        font-size: 30px;
    }
    .fruitDrink{
        display: grid;
    }
    .fruitDrink img, .fruitDrink h3, .fruitDrink span{
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 15px;
    }
    .fruitDrink img{
        display: block;
        margin: 1rem auto 0 auto;
    }
    .fruitDrink h3{
        font-size: 30px;
        color: black;
        margin: 120px auto auto auto;
    }
    .fruitDrink span{
        color: black;
        font-size: 50px;
        margin: auto;
    }
    .location{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 42px auto auto 450px;
    }
    .footerImg{
        margin: auto auto auto 10px;
    }
    nav.open{
        max-width: 215px;
    }
}