/*Footer and Header*/
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #255C99;
}

.logo{
    max-width: 120px;
}
.headerDiv{
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto 0 35px;
}
header{
    grid-template-columns: 60px 180px 85px;
    border-top: 5px solid #fdc43c;
    border-bottom: 10px solid #F10303;
}
header, footer{
    display: grid;
    background-color: #262626;
    font-family: 'Hind', sans-serif;

}
.media{
    grid-column: 3/5;
    grid-row: 1/2;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.media a{
    max-width: fit-content;
    max-height: fit-content;
}
.facebook{
    border-radius: 15px;
    max-width: 30px;
    margin-bottom: 2px;
}
.instagram, .youtube{
    border-radius: 15px;
    max-width: 35px;
}
/*nav layouts*/
nav{
    background-color: #262626;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: auto 0 auto 0;
    /* width: 0; */
    transition: 0.5s;
}
nav.open{
    padding-top: 60px;
    height: 100%;
    width: 100%;
    max-width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
nav button{
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: antiquewhite;
}
nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #262626;
}
nav ul.open{
    display: block;
}
nav ul li a{
    color: antiquewhite;
    padding: 20px 15px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    background-color: #262626;

}
nav ul li.active a{
    background-color: rgba(0, 0, 0, .2);
    color: white;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}
#hamburgerBtn span:nth-child(1){
    display: block;
    margin: .5rem;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;

}
/*footer*/
footer{
    color: white;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    border-top: 10px solid #F10303;
}
footer .media{
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 0 auto 0 auto;
}
.location{
    width: 100%;
    height: 100%;
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
}
.location img{
    max-height: 45px;
}
.footerImg{
    width: 100%;
    max-width: fit-content;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto 0 auto;
}
.footerLogo{
    max-width: 200px;
}
.name{
    grid-row: 5/6;
    grid-column: 1/2;
    border-top: 1px solid white;
    padding: 1rem;
}
.compInfo{
    margin: 150px auto 0 auto;
    color: white;
    font-size: 15px;
    grid-row: 1/3;
    grid-column: 1/2;
}
.compInfo h4{
    margin-bottom: 5px;
}
.compInfo address{
    margin: .5rem;
}
.compInfo a{
    color: white;
}
/*main page*/
/* hero banner */
main{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    font-family: 'Roboto', sans-serif;   
    text-align: center; 
    color: white;
    padding-bottom: 1rem;
}
div .hero{
    margin-bottom: 0;
}
.hero{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns:  1fr;
    margin-bottom: 2rem;
}
.hero img, .hero h2, .hero button{
    grid-column: 1/2;
    grid-row: 1/2;
}
.hero img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    grid-column: 1/4;
}
.hero h2{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 900;
    max-width: fit-content;
    max-height: 85px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .2);
    padding: 2px;
    background-color: rgba(198, 99, 53, .7);
    
}
.hero button{
    border: none;
    padding: 10px;
    color: antiquewhite;
    border-radius: 12px;
    max-width: 150px;
    max-height: 45px;
    margin: 300px auto 16px 200px;
    cursor: pointer;
    box-shadow: 5px 10px 8px #292727;
}
.hero button:hover{
    background-color: rgba(214, 13, 13, 0.3);
    color: antiquewhite;
}
.hero button:hover{
    box-shadow: 5px 10px 8px #292727;
    background-color: #262626;
    cursor: pointer;
}

/*costal area*/
.coastalArea{
    grid-row: 2/3;
    text-align: center;
    background-color: #6c3d1ca8;
    padding-bottom: 1rem;
}
.coastalArea img{
    width: 100%;
    max-width: 340px;
    padding: 1rem;
    border-radius: 26px;
}
.coastalArea button, .hero button{
    width: 100%;
    max-width: 180px;
    align-items: center;
    background-color: #0A66C2;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
    vertical-align: middle;
    margin: auto;
}

.coastalArea button:hover,
.coastalArea button:focus { 
    background-color: rgba(41, 39, 39, 0.7);
    color: #ffffff;
}

.coastalArea button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.coastalArea button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.coastalArea p{
    padding: 1rem;
    margin-top: 0;
}
/*weather*/
.weatherCards{
    grid-row: 3/4;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.weatherCards h2{
    margin-bottom: 0;
}
.weatherCards img{
    max-width: 100px;
}
#weatherInfo, #forecastCards{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    border: 4px solid #FDC43C;
    background-color: #262626;
    color: white;
    padding: 1rem;
    text-align: center;
}
#numbers{
    display: flex;
    flex-direction: column;
}
#temp{
    border-bottom: 4px solid  #FDC43C;
}
.weatherTitle{
    margin-top: 6px;
}
#weatherInfo img, #forecastCards img{
    /* margin: 0 auto 0 auto; */
    align-self: center;
    width: 100%;
}
#forecastCards{
    margin-top: 1rem;
    padding: 1rem;
}
#forecastCards section{
    border-top: 4px solid #FDC43C;
}
#forecastCards section h4{
    font-size: 30px;
    margin-top: 0;
}
#forecastCards section h3{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#forecastCards section h2{
    margin-bottom: 0;
}
/*recipe cards*/
.fruitDrink{
    grid-row: 4/5;
}
.fruitDrink img{
    display: none;
}

/*Fresh page*/

form{
    width: 100%;
    max-width: 350px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 1rem auto 1rem auto;
}
fieldset{
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto 2rem auto;
    text-align: left;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px white;
    border-radius: 4px;
    padding: .75rem;
    color: white;
    width: 100%;
    max-width: 200px;
    background-color: rgba(0,0,0,0.5);
}
form label.top input:required{
    border-bottom: red solid 4px;
}
form label.top input:required:valid{
    border-bottom: green solid;
}
legend{
    padding: .5rem;
}
#selectFruit {
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

#selectFruit h3, #selectFruit h4{
    font-size: 15px;
    margin: 1rem 0 0 0;
}

#selectFruit h4{
    font-size: 20px;
}

#fruit0,#fruit1,#fruit2{
    width: 100%;
    max-width: 200px;
    margin: 0 auto 0 0;
    vertical-align: middle;
    height: 2.2em;
    padding: 0.3em 0.6em;
    background: white;
    border: 1px solid #aaaaaa;
    border-radius: 0.3em;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
}
#fruit2{
    margin-bottom: 1rem;
}
#saveBtn{
    width: 100%;
    max-width: 150px;
    margin: 0 auto 1rem auto;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px 1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #3c4043;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  padding: 2px 24px;
  width: auto;
}

#saveBtn:hover {
  background: rgba(0, 0, 0, .8);
  color: white;
}

textarea{
    max-height: 200px;
}

#recipes section ul li, .instructions ul li{
    list-style: none;
    text-align: left;
}

#recipes section{
    border: 4px solid #F10303;
    width: 100%;
    max-width: 250px;
    margin: 1rem auto 0 auto;
    background-color: #262626;
    color: white;
    box-shadow: rgba(0, 0, 0, .8) 0 3px 5px 2px;
}
#recipes section h2{
    border-bottom: 2px solid #fdc43c;
    padding: 1rem;
    margin: 0;
    font-size: 35px;
}
.instructions ul li{
    padding: 8px;
}
.instructions{
    width: 100%;
}
.instructions h2{
    font-size: 30px;
}
/*abount us*/
#aboutMain{
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    width: 100%;
}
.director{
    padding: 2rem;
    grid-row: 3/4;
    border-top: 5px solid black;
}
.director h2{
    margin: 5px auto 0 auto;
    font-size: 20px;
}
.director img{
    border-radius: 50%;
    max-width: 200px;
}
.director a{
    color: white;
}
.contactInfo{
    padding: 2rem;
    border-bottom: 2px solid black;
}
.contactInfo p, .contactInfo a{
    margin-bottom: 0;
    margin-top: .5rem;
    color: white;

}
.contactInfo h4, .contactInfo address{
    margin-bottom: .5rem;
}
.contactInfo h3{
    font-size: 30px;
}

.since img{
    width: 100%;
    max-width: 350px;
    margin: 1rem auto 0 auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0 black;
}
.fruitDrink{
    /* display: grid; */
    background-color: #6c3d1ca8;
    margin-top: 1rem;
    padding: 1rem;
}

.fruitDrink img{
    display: none;
}
.fruitDrink h3{
    color: white;
    margin-top: 30px;
}
.fruitDrink span{
    padding: 10px;
    font-size: 25px;
}
.location{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}
label{
    display: flex;
    flex-direction: column;
}
.map img{
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
}