/* Main Page */

body{
    max-width: 950px;
    margin: 0 auto 0 auto;
}
main{
    text-align: center;
}
#mainLogo{
    max-height: 300px;
    margin: 1rem 0 1rem 0;
}

#webDescription{
    margin-top: auto;
    margin-bottom: 1rem;
}
#logo{
    max-width: 100px;
    justify-self: center;
    align-self: center;
}
nav {
	background-color: #A6D3A0;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex-direction: column;

}
nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
    color: black;
    font-size: 25px;
}
nav a:hover {
	background-color: #656565;
	color: whitesmoke;
}
nav .active{
    background-color: rgba(0, 0, 0, .2);
}
footer, header{
    background-color: #0E3B43;
    text-align: center;
    padding: 8px;
    color: antiquewhite;
    font-size: 35px;
}


header div h1{
    margin-left: auto;
    margin-right: auto;
}
/*Design page*/

#design{
    font-size: 25px;
}
.primary{
    background-color: #F10303;
}
.secondary{
    background-color: #FDC43C;
    color: black;
}
.accent1{
    background-color: #6C3E1C
}

#color{
    border-style: solid;
    border-width: 2;
}
.primary, .accent1{
    color: antiquewhite;
    font-weight: 900;
}
.secondary, .primary, .accent1{
    font-weight: 900;
    font-size: 20px;
    padding: 5px;

}
#example{
    font-family: 'Hind', sans-serif;
}
#exampleTwo{
    font-family: 'Roboto Mono', monospace;

}

/*Target audience page*/


.persona{
    max-height: 200px;
}
#personaOne p, #personaTwo p{
    margin: 0;
   
}
#personaOne, #personaTwo{
    border-style: solid;
    padding-bottom: 10px;
}
#target{
    padding-top: 25px;
    font-size: 35px;
}
.target{
    text-align: center;
    grid-column: 1/4;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}
/*wireframe page*/
#wireframeMain{
    max-width: 350px;
    margin: 1rem auto 0 auto;
}
#wireframeMain img{
    max-width: 300px;
}
#wireframeMain div{
}