body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body img[data-src] {
    filter: blur(0.2em);
}

body img {
    filter: blur(0em);
    transition: filter 0.5s;
    border: 2px solid black;
    margin-bottom: 3rem;
}