@media only screen and (min-width: 66rem){
    /*navigatio*/
    nav button{
        display: none;
    }
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        
    }
    nav ul li a {
        font-size: 25px;
        border: none;
    }
    /*footer*/
    footer{
        padding: 0;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footerImg{
        margin-right: auto;
        margin-left: 100px;
    }
    footer div.info address{
        margin-top: 55px;
        margin-right: auto;
        margin-left: 200px;
    }
    .location{
        margin-top: auto;
    }
    .email{
        margin-top: 35px;
    }
    h4{
        margin-left: 165px;
    }
    footer div a, footer div p, .emailFooter{
        margin-right: 20rem;
        font-size: 20px;
    }
    
    main{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        padding: 2rem 1rem 2rem 1rem;
        max-width: 100%;
    }
    /*hearo banner section */
    #heroBaner{
        grid-column: 2/3;
        grid-row: 1/2;
        max-height: 670px;
    }
    .hero{
        max-height: 670px;
    }
    #join{
        margin-top: auto;
        margin-bottom: 2rem;
    }
    .welcome{
        font-size: 65px;
    }
    /*spot light*/
    #spotLight{
        grid-column: 3/4;
        grid-row: 1/3;
        flex-direction: column;
        background-color: #255C99;
        padding: 1rem;
        margin-left: 1rem;
        border-radius: 12px;
        margin-top: 0%;
        border: 2px solid black;
        /* justify-content: center; */
    }
    .rootHouse{
        display: block;
        margin-top: 2rem;
        margin-left: 5px;
        border: 2px solid black;
    }
    .employment{
        margin-top: 2rem;
    }
    .craft{
        margin-top: 1rem;
    }
    .craft h2{
        margin-top: 0;
    }
    .craft a, .craft p, .employment a, .employment p,.rootHouse a, .rootHouse p{
        margin-bottom: 0%;
        text-align: center;
        margin-right: 0;
        
    }
    .craft p, .employment p, .rootHouse p{
        margin-top: 10px;
    }
    .craft img, .employment img, .rootHouse img{
        max-width: 10rem;
        border-radius: 12px;
        margin-bottom: auto;
        margin-top: auto;
        border: 2px solid black;
    }
    .craft h2, .employment h2, .rootHouse h2{
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .craft, .employment, .rootHouse{
        max-width: 250px;
        max-height: 290px;
        padding: 1rem;
        background-color: #7EA3CC;
        border-radius: 12px;
        text-align: center;
    }
    .rootHouse h3{
        margin: 0%;
        margin-bottom: 10px;
    }
    .email{
        overflow-wrap: break-word;
        font-size: 20px;
        padding: 10px;
    }
    /*event section*/
    #eventSection{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #event{
        width: 1180px;
        max-width: 100%;
    }
    /*left side of screen*/
    #joinSection, #farmerMarket, #weather{
        border: 2px solid black;
        grid-column: 1/2;
        max-width: 250px;
        padding: 25px;
        margin-right: 0;
        margin-left: auto;
        margin-right: 16px;
    }
    /*weather*/
    #weather{
        grid-row: 1/3;
        margin: 387px 0 auto 0;
        max-height: 200px;
    }
    #weatherInfo img{
        width: 80%;
        grid-column: 1/2;
       /* margin: 3px auto 0 0; */
    }
    #weather h3{
        font-size: 20px;
        margin: 0%;
    }
    #numbers{
        flex-direction: column;
        font-size: 20px;
        margin-top: 5px;
        border-top: 1px solid black;
    }
    figcaption{
        border-bottom: none;
        margin: 0;
    }
    
    #temp{
        font-size: 35px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto 0 auto 0;
    }
    #farmerMarket{
        grid-row: 1/2;
        max-height: 51%;
    }
    #farmerMarket h3{
        margin: 0%;
        font-size: 30px;
        margin-bottom: 5px;
    }
    #farmerMarket img{
        max-width: 108px;
    }
    #farmerMarket p{
        font-size: 19px;
        margin: 0;
    }
    /*#join section*/
    #joinSection{
        grid-row: 1/3;
        max-height: 300px;
        background-color: #7EA3CC;
        border-radius: 12px;
        margin-top: auto;
        display: grid;
        grid-template-rows: auto auto;
    }
    #joinSection h3{
        font-size: 29.28px;
        grid-row: 2/3;
        margin: 0;
    }
    .joinInfo{
        font-size: 30px;
        max-width: 15rem;
        max-height: 3rem;
        padding: 0;
        margin-bottom: 5px;
    }
    /*Discover*/
    #discovery h2{
        padding: 2rem;
        font-size: 65px;
    }
    #history, #outdoorFun, #NampaLocations{
        margin-top: 10rem;
    }
    #discoverHero{
        max-width: fit-content;
    }
    
    /*Historic*/
    #history{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    #history h2{
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 600px;
    }
    #HistoricImg{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 2rem;
    }
    #history p{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    #outdoorFun{
        display: grid;
    }
    #outdoorFun h2{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #Lake{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 2rem;
    }
    #outdoorFun p{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    /*Nampa Locations*/
    #NampaLocations{
        display: grid;
        grid-template-rows: repeat(5, auto);
    }
    #NampaLocations .train{
        grid-row: 2/3;
    }
    #NampaLocations .Library{
        grid-row: 3/4;
    }
    #NampaLocations .Belt{
        grid-row: 4/5;
    }
    #NampaLocations .locationInfo{
        grid-row: 5/6;
    }
    #NampaLocations h2{
        max-width: 600px;
        grid-column: 1/3;
    }
    #NampaLocations .train img, #NampaLocations .Belt img,  #NampaLocations .Library img{
        max-width: 430px;
    }
    #NampaLocations .train img,  #NampaLocations .Belt img{
        float: left;
        
    }
    #NampaLocations .Library img{
        float: right;
    }
    #NampaLocations .train, #NampaLocations .Belt,  #NampaLocations .Library{
        max-width: fit-content;
        grid-column: 1/3;
        display: flex;
        padding: 1rem;
        align-items: center;
        max-height: 500px;
    }

    /*Demographics*/
    #demographics{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    #demographics h2{
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 600px;
    }
    #map{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 5rem;
    }
    #demographics p{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: auto;
        margin-bottom: auto;
    }
    /*----join page-----*/
    form{
        border: 2px solid  #255C99;
        border-radius: 12px;
        width: 800px;
        align-self: center;
    }
    #joinHeader{
        font-size: 55px;
    }
    #description{
        max-width: none;

    }
    form input.submitBtn{
        margin: 0 0 2rem 6%;
        width: 96%;
        max-width: 20rem;
    }
    /*directory*/
    .cards{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1150px;
    }
    .cards section{
        margin: 5px;
    }

    .list section, .list .heading{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .list .heading .emailInfo{
        display: block;
        margin-left: 0;
    }
    .emailInfo, .nameInfo,.address,.url{
        font-size: 25px;
        max-width: fit-content;
        padding: 1rem;

    }
    .list section h5{
        grid-column: 3/4;
    }
    .list section a, .list .url{
        color: black;
        text-align: left;
    }
    .list section{
        padding: 10px;
    }
    .list .heading{
        font-size: 25px;
        padding: 0;
        text-align: left;
    }
}