@media only screen and (min-width: 66rem){
    /*navigatio*/
    nav button{
        display: none;
    }
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        
    }
    nav ul li a {
        font-size: 25px;
        border: none;
    }
    /*footer*/
    footer{
        padding: 0;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footerImg{
        margin-right: auto;
        margin-left: 100px;
    }
    footer div.info address{
        margin-top: 55px;
        margin-right: auto;
        margin-left: 200px;
    }
    .location{
        margin-top: auto;
    }
    .email{
        margin-top: 35px;
    }
    h4{
        margin-left: 165px;
    }
    footer div a, footer div p{
        margin-right: 20rem;
        font-size: 20px;
    }
    main{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        padding: 2rem 1rem 2rem 1rem;
        max-width: 100%;
    }
    /*hearo banner section */
    #heroBaner{
        grid-column: 2/3;
        grid-row: 1/2;
        /* max-height: 670px; */
    }
    .hero{
        max-height: 670px;
    }
    #join{
        margin-top: auto;
        margin-bottom: 2rem;
    }
    .welcome{
        font-size: 65px;
    }
    /*spot light*/
    #spotLight{
        grid-column: 3/4;
        grid-row: 1/3;
        flex-direction: column;
        background-color: #255C99;
        padding: 1rem;
        margin-left: 1rem;
        border-radius: 12px;
        margin-top: 0%;
        border: 2px solid black;
        /* justify-content: center; */
    }
    .rootHouse{
        display: block;
        margin-top: 2rem;
        margin-left: 5px;
    }
    .employment{
        margin-top: 2rem;
    }
    .craft{
        margin-top: 1rem;
    }
    .craft a, .craft p, .employment a, .employment p,.rootHouse a, .rootHouse p{
        margin-bottom: 0%;
        text-align: center;
        margin-right: 0;
        
    }
    .craft p, .employment p, .rootHouse p{
        margin-top: 0;
    }
    .craft img, .employment img, .rootHouse img{
        max-width: 10rem;
        border-radius: 12px;
        margin-bottom: auto;
        margin-top: auto;
        border: 2px solid black;
    }
    .craft h2, .employment h2, .rootHouse h2{
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .craft, .employment, .rootHouse{
        max-width: 250px;
        max-height: 270px;
        padding: 1rem;
        background-color: #7EA3CC;
        border-radius: 12px;
        text-align: center;
    }
    .rootHouse h3{
        margin: 0%;
        margin-bottom: 10px;
    }
    .email{
        overflow-wrap: break-word;
        font-size: 20px;
    }
    /*event section*/
    #eventSection{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    /*left side of screen*/
    #joinSection, #farmerMarket, #weather{
        border: 2px solid black;
        grid-column: 1/2;
        max-width: 250px;
        padding: 16px;
        margin-right: 0;
        margin-left: auto;
        margin-right: 16px;
    }
    /*weather*/
    #weather{
        grid-row: 1/3;
        margin: 400px 0 auto 0;
        max-height: 200px;
    }
    #weatherInfo img{
        max-width: 5rem;
        grid-column: 1/2;
       /* margin: 3px auto 0 0; */
    }
    #weather h3{
        font-size: 20px;
        margin: 0%;
    }
    #numbers{
        flex-direction: column;
        grid-row: 2/3;
        padding-top: 15px;
        margin-top: 5px;
        border-top: 1px solid black;
    }
    #temp{
        font-size: 35px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto 0 auto 0;
    }
    #farmerMarket{
        grid-row: 1/2;
        max-height: 51%;
    }
    #farmerMarket h3{
        margin: 0%;
        font-size: 30px;
        margin-bottom: 5px;
    }
    #farmerMarket img{
        max-width: 108px;
    }
    #farmerMarket p{
        font-size: 19px;
        margin: 0;
    }
    /*#join section*/
    #joinSection{
        grid-row: 1/3;
        max-height: 300px;
        background-color: #7EA3CC;
        border-radius: 12px;
        margin-top: auto;
        display: grid;
        grid-template-rows: auto auto;
    }
    #joinSection h3{
        font-size: 45px;
        grid-row: 2/3;
        margin: 0;
    }
    .joinInfo{
        font-size: 30px;
        max-width: 15rem;
        max-height: 3rem;
        padding: 0;
        margin-bottom: 5px;
    }

}