@media only screen and (min-width: 66rem){
    /*navigatio*/
    nav button{
        display: none;
    }
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        
    }
    nav ul li a {
        font-size: 25px;
        border: none;
    }
    /*footer*/
    footer{
        padding: 0;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footerImg{
        margin-right: auto;
        margin-left: 100px;
    }
    footer div.info address{
        margin-top: 55px;
        margin-right: auto;
        margin-left: 200px;
    }
    .location{
        margin-top: auto;
    }
    .email{
        margin-top: 35px;
    }
    h4{
        margin-left: 165px;
    }
    footer div a, footer div p,.email{
        margin-right: 20rem;
        font-size: 20px;
    }
    main{
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    /*hearo banner section */
    #heroBaner{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    /*spot light*/
    #spotLight{
        grid-column: 3/4;
        grid-row: 1/3;
        flex-direction: column;
        background-color: #255C99;
        padding: 1rem;
        margin: 1rem;
        border-radius: 12px;
    }
    .rootHouse{
        display: block;
        margin-top: 5rem;
    }
    .employment{
        margin-top: 5rem;
    }
    .craft a, .craft p, .employment a, .employment p,.rootHouse a, .rootHouse p{
        margin-bottom: 0%;
        font-size: 15px;
        text-align: center;
        margin-right: 0;
        
    }
    .craft p, .employment p, .rootHouse p{
        margin-top: 0;
    }
    .craft img, .employment img, .rootHouse img{
        max-width: 8rem;
        border-radius: 12px;
        margin-bottom: auto;
        margin-top: auto;
        border: 2px solid black;
    }
    .craft h2, .employment h2, .rootHouse h2{
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .craft, .employment, .rootHouse{
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        background-color: #7EA3CC;
        border-radius: 12px;
        font-size: 15px;
    }
    .rootHouse h3{
        margin: 0%;
        margin-bottom: 10px;
    }
    .email{
        overflow-wrap: break-word;
    }
    /*event section*/
    #eventSection{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /*left side of screen*/
    #joinSection, #farmerMarket, #weather{
        grid-column: 1/2;
        max-width: 200px;
        padding: 16px;
        margin-right: 16px;
        margin-left: 16px;
    }
    /*weather*/
    #weather{
        grid-row: 1/2;
        max-height: 200px;
    }
    #weather div img{
        max-width: 105px;
        margin-left: auto;
        margin-right: auto;
    }
    #weather div{
        /* flex-direction: row; */
    }
    #weather h3{
        font-size: 20px;
        margin: 0%;
    }
    #weather div span{
        font-size: 15px;
    }
    /*farmer market*/
    #farmerMarket{
        grid-row: 1/3;
        max-height: 300px;
        margin-top: 250px;
        max-width: 200px;
    }
    #farmerMarket h3{
        margin: 0%;
        font-size: 20px;
        margin-bottom: 5px;
    }
    #farmerMarket img{
        max-width: 108px;
    }
    #farmerMarket p{
        font-size: 15px;
    }
    /*#join section*/
    #joinSection{
        grid-row: 2/3;
        max-height: 150px;
    }

}