@media only screen and (min-width: 43rem){
    nav{
        text-align: center;
    }
    header{
        font-size: 30px;
    }
    .facebook img, .linkedin img{
        max-height: 40px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 18px;
        max-width: 15rem;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footerImg{
        margin-right: 185px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer div address{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer div address{
        margin-left: 105px;
    }
    footer div a, footer div p{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-right: auto;
        margin: 0;
        padding: 0;
        font-size: 25px;

    }
    h4{
        margin-left: 55px;
        max-width: 300px;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    footer div.info address{
        margin-top: 60px;
        margin-left: 140px;
        margin-right: 10px;
    }
    .location{
        margin-top: auto;
    }
    .email{
        margin-top: 35px;
    }

    /*main*/

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }

    #eventSection, #spotLight, #joinSection{
        margin-bottom: 30px;
    }
    /*hero Banner section*/
    #heroBaner{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .welcome{
        font-size: 55px;
        margin-top: 2rem;
        max-height: 85PX;
    }
    #join{
        max-width: 20rem;
        max-height: 5rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        margin-top: 20rem;
    }
    /*event section*/
    #eventSection{
        grid-column: 1/4;
        grid-row: 2/3;
        max-height: 201px;
        margin-left: auto;
        margin-right: auto;
    }
    #event{
        max-width: fit-content;
        margin-top: .5rem;
        
    }
    /*spot Light*/
    #spotLight{
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
    }
    .craft, .employment{
        max-height: 350px;
        max-width: 365px;
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    /*join section*/
    #joinSection{
        grid-column: 1/4;
        grid-row: 4/5;
        font-size: 19px;
    }
    #joinSection h3{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        font-size: 3rem;
    }
    .joinInfo{
        font-size: 5rem;
        max-width: fit-content;
        max-height: fit-content;
    }
    /*farmer market*/
    #farmerMarket{
        grid-column: 1/3;
        grid-row: 5/6;
        max-width: 450px;
        margin: 0 10px 0 10px;
        
    }
    /*weather*/
    #weather{
        grid-column: 3/4;
        grid-row: 5/6;
        max-width: 200px;
        margin: 0 10px 0 0;
        border: none;
    }
    #farmerMarket, #weather{
        margin-bottom: 10px;
        border-radius: 12px;
    }
    #temp{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #weatherInfo img{
        max-width: 10rem;
        grid-column: 1/3;
        margin: 0 auto 0 auto;
        
    }
    #weatherInfo{
        text-align: center;
    }
}