@media only screen and (min-width: 43rem){
    nav{
        text-align: center;
    }
    header{
        font-size: 30px;
    }
    .facebook img, .linkedin img{
        max-height: 40px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 18px;
        max-width: 15rem;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footerImg{
        margin-right: 185px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer div address{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer div address{
        margin-left: 105px;
    }
    footer div a, footer div p, .emailFooter{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-right: auto;
        margin: 0;
        padding: 0;
        font-size: 25px;

    }
    .emailFooter{
        margin-top: 35px;
    }
    h4{
        margin-left: 55px;
        max-width: 300px;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    footer div.info address{
        margin-top: 60px;
        margin-left: 140px;
        margin-right: 10px;
    }
    .location{
        margin-top: auto;
    }
    .email{
        margin-top: 35px;
        overflow-wrap: break-word;

    }

    /*main*/

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    #homeMain a:hover{
        font-size: 30px;
        color: red;    
    }
    #eventSection, #spotLight, #joinSection{
        margin-bottom: 30px;
    }
    /*hero Banner section*/
    #heroBaner{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .welcome{
        font-size: 55px;
        margin-top: 2rem;
        max-height: 85PX;
    }
    #join{
        max-width: 20rem;
        max-height: 5rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        margin-top: 30rem;
    }
    /*event section*/
    #eventSection{
        grid-column: 1/4;
        grid-row: 2/3;
        max-height: 201px;
        margin-left: auto;
        margin-right: auto;
    }
    #event{
        max-width: fit-content;
        margin-top: .5rem;
        
    }
    /*spot Light*/
    #spotLight{
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
    }
    .craft, .employment{
        max-height: 350px;
        max-width: 385px;
        border: 2px solid #292727;
        border-radius: 12px;
        margin-top: 2rem;
    }
    .employment{
        margin-left: auto;
    }
    .employment a{
        font-size: 20px;
    }
    .craft{
        margin: 2rem 0 0 auto;
    }
    .craft h2{
        margin-top: 5rem;
        margin-bottom: auto;
    }
    /*join section*/

    #joinSection{
        padding: 3rem;
        display: block;
    }
    #joinSection h3{
        font-size: 35px;
        max-width: 385px;
        margin-top: 0;
    
    }
    .joinInfo{
        background-color: #B3001B;
        color: whitesmoke;
        max-width: 185px;
        max-height: 85px;
        border: none;
        font-size: 35px;
        padding: 15px;
        box-shadow: 5px 10px 8px #292727;
        border-radius: 12px;
        cursor: pointer;
    }
    #joinSection{
        grid-column: 1/4;
        grid-row: 4/5;
        font-size: 19px;
    }
    #joinSection h3{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        font-size: 3rem;
    }
    .joinInfo{
        font-size: 5rem;
        max-width: fit-content;
        max-height: fit-content;
    }
    /*farmer market*/
    #farmerMarket{
        grid-column: 1/3;
        grid-row: 5/6;
        max-width: 450px;
        margin: 0 10px 0 10px;
        
    }
    /*weather*/
    #weather{
        grid-column: 3/4;
        grid-row: 5/6;
        max-width: 200px;
        margin: 0 10px 0 0;
        border: none;
    }
    #weather h3{
        font-size: 40px;

    }
    #numbers{
        margin-top: .8rem;
        border-top: 2px solid black;
        font-size: 30px;
    }
    #farmerMarket, #weather{
        margin-bottom: 10px;
        border-radius: 12px;
    }
    #temp{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #weatherInfo img{
        max-width: 10rem;
        grid-column: 1/3;
        margin: 0 auto 0 auto;  
    }
    #weatherInfo{
        text-align: center;
    }
    /*Discover Page*/
    #discovery img, #map{
    max-width: 650px;
    border-radius: 12px;
    border: 4px solid #255C99;
    }
    #discovery h2{
        margin: 0 auto 0 auto;
        font-size: 55px;
    }
    #discovery p{
        font-size: 35px;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    #history img:hover, #outdoorFun img:hover, #NampaLocations img:hover{
        box-shadow: 0 0 50px #333;
        border-radius: 15px 150px;
    }
    /*Nampa Locations*/
    #discovery{
        padding: 0%;
    }
    #NampaLocations{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: auto auto;
        grid-template-rows: repeat(4, auto); */
        background-color: #255C99;
        border-top: 2px solid black;
        align-items: center;
    }
    #NampaLocations .train, #NampaLocations .Belt,  #NampaLocations .Library{
        max-width: 700px;
    }
    #NampaLocations h2{
        margin: 0 auto 1.5rem auto;
    }
    #NampaLocations .train img, #NampaLocations .Library img, #NampaLocations .Belt img{
        max-width: 380px;
    }
    .Belt{
        grid-column: 1/3;
    }
    .Belt img{
        max-width: 781px;
    }
    #NampaLocations .train{
        margin-left: 2.5px;
    }
    #NampaLocations .Library{
        margin-right: 2.5px;
    }
    #dicoverHero img{
        border: none;
        border-radius: 0;
        margin: 0;
        max-width: 100%;
    }
    #dicoverHero{
        max-width: 100%;
    }
    /*---join----*/
    #joinMain{
        display: flex;
        flex-direction: column;
    }
    form{
        padding: 3rem;
    }
    .formPart{
        display: flex;
    }
    form fieldset{
        border-radius: 10px;
        font-size: 25px;
    }
    #joinHeader{
        font-size: 45px;
    }
    form input.submitBtn{
        max-width: none;
        margin: 0 0 2rem 2%;
        font-size: 1.5rem;
    }
    form label.top, form div{
    font-size: 1.5rem;
    }
    #description{
        max-width: none;
    }
    /*---table----*/
table {
    display: block;
    margin: 0 auto 0 0;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 25px;
  }
  
  td, th{
    border: 1px solid rgb(0, 0, .02);
    padding: 10px 20px;
  }
  
  th {
    background-color: darkslategrey;
    padding: 22.3px;
    color: white;
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(206, 204, 204);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
  body{
    text-align: center;
  }
  #empty{
    background-color: darkslategrey;
    margin-top: 0;
    padding: 0;
    max-height: 100px;
  }
  .check{
    color: blue;
    font-size: 35px;
  }
  .notcheck{
    color: red;
    font-size: 35px;

  }
  /*directory*/
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .list section h5{
    display: flex;
    margin: 0;
    font-size: 15px;
  }

  .list section{
    font-size: 30px;
  }
}