/*Main Website*/
body{
    margin: 0;
}
main{
    text-align: center;
}
header, footer{
    background-color: #255C99;
    color: aliceblue;  
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Kanit', sans-serif;
    
}
.logo, .footerLogo{
    border-radius: 50%;

}
header{
    padding: 0;
}
/*img layouts*/

.logo{
    max-height: 55px;
}

.facebook img, .linkedin img{
    max-height: 30px;
    border-radius: 50%;
}

/*nav layouts*/
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: antiquewhite;
}
nav{
    background-color: #262626;
    text-align: left;

}
nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.open{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: antiquewhite;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(171, 152, 152, 0.5);
}
nav ul li.active a{
    background-color: rgba(0, 0, 0, .2);
    color: white;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}

/*Header layouts*/

header .logo{
    max-width: 45px;
    margin-left: 5px;
}
h1, h2{
    margin: 0;
    margin-left: .5rem;
    max-width: 10rem;
}
h1{
    font-size: 23px;
}
h2{
    font-size: 15px;
}
.linkedin{
    margin-left: 3px;
    margin-right: 5px;
    
}
.facebook{
    margin-left: auto;
    margin-right: 5px;
    
}
.dateInfo{
    text-align: center;
    background-color: #262626;
    margin-top:0;
    padding: 0;
}
.topDiv{
    display: flex;
    flex-direction: row;
    border-bottom: 2.1px solid rgba(0, 0, 0, .3);
    padding: 10px;
}
#date{
    max-width: 55px;
    margin-left: auto;
    margin-right:auto;
    
}
.dateBar{
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    background-image: linear-gradient(#255C99,#262626);
}
/*Footer*/
footer{
    padding-bottom: 0;
}
footer div{
    text-align: center;
    padding: 5px;
}
h4{
    font-size: 23px;
    margin-top: 1px;
    margin-bottom: 5px;
}
footer div address{
    margin-top: 5px;
}
footer div a img{
    max-height: 95px;
}
footer div a, .emailFooter{
    text-decoration: none;
    color: antiquewhite;
}

.pin{
    max-width: 35px;
}
.info{
    border-bottom: 1.1px solid rgba(0, 0, 0, .3);
    padding: 10px;
}
.name{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
/*main*/
#event,.craft, .employment{
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EA3CC;
}
main{
    font-family: 'Barlow', sans-serif;
    background-color: #839D9A;
}

/*Hero banner*/
section{
    /* border: 2px solid ; */
    text-align: center;
}
#heroBaner{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /* grid-template-rows: repeat(2, 1fr); */
}
.hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/4;
}
.welcome{
    color: black;
    font-size: 55px;
    font-weight: 900;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .2);
    padding: 2px;
    
}
#join{
    background-color: #B3001B;
    border: none;
    padding: 10px;
    color: antiquewhite;
    border-radius: 12px;
    max-width: 150px;
    max-height: 45px;
    margin-left: 200px;
    margin-top: 300px;
    cursor: pointer;
    box-shadow: 5px 10px 8px #292727;
}
.joinInfo:hover{
    background-color: rgba(214, 13, 13, 0.3);
    color: antiquewhite;
}
#join:hover{
    box-shadow: 5px 10px 8px #292727;
    background-color: #262626;
    cursor: pointer;
}

.welcome, #join, .hero{
    grid-row: 1/2;
    grid-column: 1/4;
}
 /*event section*/

.parkName, .parkType{
    margin-left: auto;
    margin-right: auto;
 }
 .parkName{
    font-size: 35px;
    max-width: fit-content;
 }
 .parkType{
    margin-top: -5px;
 }
 .moreInfo{
    text-decoration: none;
    font-size: 30px;
    color: #B3001B;
 }
 #event{
    margin-top: 10px;
    font-size: 20px;
 }
/*Spot light*/

#spotLight{
    margin-top: 20PX;
    
}
.craft{
    margin-bottom: 15PX;
    margin-top: 5px;
}
.rootHouse{
    display: none;
}
.craft img, .employment img{
    max-width: 15rem;
    border-radius: 12px;
    margin-bottom: 13px;
}
.craft h2, .employment h2{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.craft h4, .rootHouse h4{
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0;

}
.employment h2{
    margin-bottom: 10px;
    max-width: 300px;
}
.employment h2,.craft h3, .rootHouse h3{
    border-bottom: 3px solid;
} 
.craft h3{
    margin-top: 0;
}

.craft a, .craft p, .employment a, .rootHouse a{
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}
.email{
    text-decoration: none;
    color: black;
    font-size: 19px;
    
}
.pageInfo, .moreInfo{
    color: black;
    text-decoration: none;
    font-size: 25px;
}


/*join section*/
#joinSection{
    display: none;
}
#farmerMarket{
    max-width: fit-content;
    background-color: #7EA3CC;
    padding: 20px;
}
#farmerMarket img{
    max-width: 300px;
}
#farmerMarket h3{
    font-size: 45px;
}
#farmerMarket p{
    color: black;
    font-size: 30px;
}
/*wetaher section*/
#weather{
    background-color: #7EA3CC;
    padding: 30px;
    border: 3px solid black;
    margin: 1rem;
    border-radius: 15px;
}
#weatherInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#numbers{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;

}
figcaption{
    grid-column: 1/3;
    font-size: 25px;
    padding: 3px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
#temp{
    font-size: 45px;
    margin: auto 0 auto 0;
}

#weather img{
    width: 80%;
    margin-right: 10px;
}
#weather h3{
    font-size: 25px;
    margin-top: 0;
}

/*Discovery Page*/

#discovery{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

#discovery img, #map{
    max-width: 330px;
    border-radius: 12px;
    border: 4px solid #255C99;
}

#history h2, #outdoorFun h2, #NampaLocations h2, #demographics h2{
    font-size: 45px;
    max-width: 350px;
    padding: 10px 0 10px 0;
}
#history p, #outdoorFun p, #NampaLocations p, #demographics p{
    margin-bottom: 5rem;
    font-size: 20px;
    padding: 8px;
}
#demographics{
    background-color: #CCAD8F;
    border-top: 4px solid black;
}

#history{
    margin-top: 3rem;
}
/*Discover Hero*/
#discoverNampa{
    display: grid;
}
#dicoverHero img{
    border: none;
    border-radius: 0;
    margin: 0;
    max-width: 100%;
}
#dicoverHero{
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 100%;
}

#discoverNampa h2{
    margin: 5rem auto auto auto;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    font-size: 55px;
    max-width: 400px;
}


/*---form---*/
#joinMain{
    text-align: left;
}
form{
    background-color: #7EA3CC;
    padding: .5rem;
}
#joinHeader{
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: fit-content;
    padding: .5rem;
    font-size: 30px;
}
form fieldset{
    border-radius: 10px;
    margin: 2rem 0;
    border: 1px solid black;
    padding: .5rem 2%;
}
form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs{
    display: block;
    padding: .75rem;
    color: black;
}
form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 8%;
    width: 96%;
    max-width: 20rem;
    align-self: center;

}
form input.submitBtn:hover{
    cursor: pointer;
    box-shadow:3.5px  5px rgba(0, 0, 0, .2);
    color: red;

}
form label.top input:required{
    border-left: red solid 4px;
}
form label.top input:required:valid{
    border-left: green solid;
}
#description{
    width: 100%;
    max-width: 20rem;
}
#output{
    display: none;
}
/*thank you page*/
#thankMain{
    display: block;
}
#thank{
    height: 500px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 45px;
}
table{
    display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*----Directory----*/
#directoryMain{
    display: flex;
    flex-direction: column;
}
.cards section {
    border: 2px solid black;
    border-radius: 12px;
    margin: 1rem auto 1rem auto;
    background:#255C99;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 5px;
    color: white;

}
.cards section img{
    border-radius: 12px;
    margin: 10px;
    max-width: 250px;
}
.cards section h2{
    display: none;
}
.cards section h3,.cards section h4{
    margin: 0;
    
}
.cards section h3,.cards section h4{
    margin-top: 0;
    font-size: 15px;
    padding: 5px;
}
.cards section a{
    text-decoration: none;
    color: white;
    
}

.cards section h5 {
    margin: 0;
}
.cards .heading{
    display: none;
}

/*trial*/
.list {
    display: flex;
	flex-direction: column;
    background:#255C99;
    margin: 1rem;
    
}

.list section {
    display: flex;
    flex-direction: column;
	margin: 0;
	padding: 0.25rem;
}
.list section a, .list .url{
    /* margin: 2px; */
    width: 140px;
    max-width: 100%;
    text-align: center;
    /* overflow-wrap: break-word; */
    color: slateblue;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none; /* smaller viewports only */
}

.list section h3, .list section h2, .list section a {
    font-size: 15px;
    margin: 0;
    max-width: fit-content;
}
.list section a{
    padding-bottom: 4px;
    text-decoration: none;
    color: black;
}
.list section h2{
    padding-top: 4px;
}

.list section:nth-child(even) {
    background-color: #7EA3CC;
}

.list section h4{
    grid-row: 1/2;
    grid-column: 2/3;
}

.list .heading .emailInfo, .list section h4{
    display: none;
}
.list .heading{
    display: none;

}
/*directory button*/
/* CSS */
#grid, #list {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-size: 24px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-top: 1rem;
}
#list{
    margin-left: 10px;
}

#directoryMain button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

#directoryMain button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

#directoryMain button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

#directoryMain button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#directoryMain button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#directoryMain button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#directoryMain button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#directoryMain button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/*contact info*/
#contactMain{
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    width: 100%;
}
#contactMain img{
    border-radius: 50%;
    max-width: 200px;
}

.director{
    padding: 2rem;
    grid-row: 3/4;
    border-top: 2px solid black;
}
.director h2{
    margin: 5px auto 0 auto;
    font-size: 20px;
}
.contactInfo{
    grid-row: 1/2;
    padding: 2rem;
    border-bottom: 2px solid black;
}
#contactMain a{
    text-decoration: none;
    color: black;
}
#contactMain a:hover{
    color: #9c2c13;

}
.contactInfo h3{
    font-size: 40px;
    margin: 0;
}
.contactInfo h4{
    margin-top: 1rem;
}
.contactInfo p{
    margin: 0;
}
/*COntact Form*/
.contactForm legend{
    margin: 0 auto 0 auto;
    font-size: 25px;
}
.contactForm label{
    text-align: left;
}
.submitBtnCOntact{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-top: .5rem;
}

.submitBtnCOntact:hover{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
