/*Main Website*/
body{
    margin: 0;
}
main{
    text-align: center;
}
header, footer{
    background-color: #255C99;
    color: aliceblue;  
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Kanit', sans-serif;
    
}
.logo, .footerLogo{
    border-radius: 50%;

}
header{
    padding: 0;
}
/*img layouts*/

.logo{
    max-height: 55px;
}

.facebook img, .linkedin img{
    max-height: 30px;
    border-radius: 50%;
}

/*nav layouts*/
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: antiquewhite;
}
nav{
    background-color: #262626;
    text-align: left;

}
nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.open{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: antiquewhite;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(171, 152, 152, 0.5);
}
nav ul li.active a{
    background-color: rgba(0, 0, 0, .2);
    color: white;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}

/*Header layouts*/

header .logo{
    max-width: 45px;
    margin-left: 5px;
}
h1, h2{
    margin: 0;
    margin-left: .5rem;
    max-width: 10rem;
}
h1{
    font-size: 23px;
}
h2{
    font-size: 15px;
}
.linkedin{
    margin-left: 3px;
    margin-right: 5px;
    
}
.facebook{
    margin-left: auto;
    margin-right: 5px;
    
}
.dateInfo{
    text-align: center;
    background-color: #262626;
    margin-top:0;
    padding: 0;
}
.topDiv{
    display: flex;
    flex-direction: row;
    border-bottom: 2.1px solid rgba(0, 0, 0, .3);
    padding: 10px;
}
#date{
    max-width: 55px;
    margin-left: auto;
    margin-right:auto;
    
}
.dateBar{
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    background-image: linear-gradient(#255C99,#262626);
}
/*Footer*/
footer{
    padding-bottom: 0;
}
footer div{
    text-align: center;
    padding: 5px;
}
h4{
    font-size: 23px;
    margin-top: 1px;
    margin-bottom: 5px;
}
footer div address{
    margin-top: 5px;
}
footer div a img{
    max-height: 95px;
}
footer div a, .emailFooter{
    text-decoration: none;
    color: antiquewhite;
}

.pin{
    max-width: 35px;
}
.info{
    border-bottom: 1.1px solid rgba(0, 0, 0, .3);
    padding: 10px;
}
.name{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
/*main*/
#event,.craft, .employment{
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EA3CC;
}
main{
    font-family: 'Barlow', sans-serif;
    background-color: #839D9A;

}

/*Hero banner*/
section{
    /* border: 2px solid ; */
    text-align: center;
}
#heroBaner{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /* grid-template-rows: repeat(2, 1fr); */
}
.hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/4;
}
.welcome{
    color: black;
    font-size: 55px;
    font-weight: 900;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .2);
    padding: 2px;
    
}
#join{
    background-color: #B3001B;
    border: none;
    padding: 10px;
    color: antiquewhite;
    border-radius: 12px;
    max-width: 150px;
    max-height: 45px;
    margin-left: 200px;
    margin-top: 300px;
    cursor: pointer;
    box-shadow: 5px 10px 8px #292727;
}
.joinInfo:hover{
    background-color: rgba(214, 13, 13, 0.3);
    color: antiquewhite;
}
#join:hover{
    box-shadow: 5px 10px 8px #292727;
    background-color: #262626;
    cursor: pointer;
}

.welcome, #join, .hero{
    grid-row: 1/2;
    grid-column: 1/4;
}
 /*event section*/

.parkName, .parkType{
    margin-left: auto;
    margin-right: auto;
 }
 .parkName{
    font-size: 35px;
    max-width: 190px;
 }
 .parkType{
    margin-top: -5px;
 }
 .moreInfo{
    text-decoration: none;
    font-size: 30px;
    color: #B3001B;
 }
 #event{
    margin-top: 10px;
    font-size: 20px;
 }
/*Spot light*/

#spotLight{
    margin-top: 20PX;
    
}
.craft{
    margin-bottom: 15PX;
    margin-top: 5px;
}
.rootHouse{
    display: none;
}
.craft img, .employment img{
    max-width: 15rem;
    border-radius: 12px;
    margin-bottom: 13px;
    border: 2px solid black;
}
.craft h2, .employment h2{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.employment h2{
    margin-bottom: 10px;
    max-width: 300px;
}
.employment h2,.craft h3, .rootHouse h3{
    border-bottom: 3px solid;
} 
.craft h3{
    margin-top: 0;
}

.craft a, .craft p, .employment a, .employment p{
    margin-bottom: 0;
}
.email{
    text-decoration: none;
    color: black;
    font-size: 19px;
    
}
.pageInfo, .moreInfo{
    color: black;
    text-decoration: none;
    font-size: 25px;
}


/*join section*/
#joinSection{
    display: none;
}
#farmerMarket{
    max-width: fit-content;
    background-color: #7EA3CC;
    padding: 20px;
}
#farmerMarket img{
    max-width: 300px;
}
#farmerMarket h3{
    font-size: 45px;
}
#farmerMarket p{
    color: black;
    font-size: 30px;
}
/*wetaher section*/
#weather{
    background-color: #7EA3CC;
    padding: 30px;
    border: 3px solid black;
    margin: 1rem;
    border-radius: 15px;
}
#weatherInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#numbers{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;

}
#temp{
    font-size: 45px;
    margin: auto 0 auto 0;
}

#weather img{
    max-width: 150px;
    margin-right: 10px;
}
#weather h3{
    font-size: 35px;
    margin-top: 0;
}

/*Discovery Page*/

#discovery{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

#discovery img, #map{
    max-width: 350px;
    border-radius: 12px;
    border: 4px solid #255C99;
}

#history h2, #outdoorFun h2, #NampaLocations h2, #demographics h2{
    font-size: 45px;
    max-width: 400px;
    padding: 10px 0 10px 0;
}
#history p, #outdoorFun p, #NampaLocations p, #demographics p{
    margin-bottom: 5rem;
    font-size: 20px;
    padding: 8px;
}
#demographics{
    background-color: #CCAD8F;
    border-top: 4px solid black;
}

#history{
    margin-top: 3rem;
}
/*Discover Hero*/
#discoverNampa{
    display: grid;
}
#dicoverHero img{
    border: none;
    border-radius: 0;
    margin: 0;
    max-width: 100%;
}
#dicoverHero{
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 100%;
}

#discoverNampa h2{
    margin: 5rem auto auto auto;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    font-size: 55px;
    max-width: 400px;
}
.Belt{
    display: none;
}

/*---form---*/
#joinMain{
    text-align: left;
}
form{
    background-color: #CCAD8F;
    padding: .5rem;
}
#joinHeader{
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: fit-content;
    padding: .5rem;
    font-size: 30px;
}
form fieldset{
    border-radius: 10px;
    margin: 2rem 0;
    border: 1px solid #445ba9;
    padding: .5rem 2%;
}
form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs{
    display: block;
    padding: .75rem;
    color: black;
}
form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 8%;
    width: 96%;
    max-width: 20rem;
    align-self: center;

}
form input.submitBtn:hover{
    cursor: pointer;
    box-shadow:3.5px  5px rgba(0, 0, 0, .2);
    color: red;

}
form label.top input:required{
    border-left: red solid 4px;
}
form label.top input:required:valid{
    border-left: green solid;
}
#description{
    width: 100%;
    max-width: 20rem;
}
#output{
    display: none;
}
#dateFormed{
    display: none;
}

/*thank you page*/
#thankMain{
    display: block;
}
#thank{
    height: 500px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 45px;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}