
header{
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
    
}
header div {
    padding-top: 40px;
    text-align: center;
}
#Name {
   
    font-size: 2.5rem;
}
#Name, footer{
    color: purple;
}
main div{
    text-align: center;
}
main div ul {
    display: inline-block;
}
body {
    font-family: 'Poppins', sans-serif;
}
footer{
    text-align: center;
    font-size: 1rem;
}
footer, header {
    background-color: rgb(220, 217, 21);
    margin: 0%;
}

#imgFamily {
    max-width: 250px;
    height: auto;
}

