body{
    max-width: 750px;
    margin: 1.25rem auto;
    font-family: 'Playfair Display', serif;

}
main{
    display: grid;
    grid-template-columns: 1fr;
   
}
header, footer{
    text-align: center;
    background-color: #655560;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}
footer{
    font-size: 20px;
}
.webImg{
    max-width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;

}

h3{
    background-color: #5F7367;
    margin: 0%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

h4, a, p {
    padding-left: 4px;
}

p {
    text-align: center;
}
#thirds,#space, #hierarchy{
    width: 220px;
    background-color: #C4CAD0;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
}

#thirds, #space, #hierarchy{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

